body {
    /*be sure to revisit font that is clean and on-brand!*/
    font-family: Arial;
}

header {
    /*gray background with centered white header*/
    background-color: #0077b5;
    display: flex;
    justify-content: left;
}

h1 {
    /*setting sample fontsize for development*/
    font-size: 14px;
    color: white;

}

/*alternating grey/white color for list items*/
.row :nth-child(odd) {
    background-color: #f7f7f7;
}

.row :nth-child(even) {
    background-color: white;
}
