body {
    font-family: var(--bs-font-sans-serif);
    width: 450px;
}

header {
    color: black;
    padding: 10px 0px 5px 0px;
}

h1 {
    /*setting sample fontsize for development*/
    font-size: 10px;
}

/*a[aria-label]:after {
  opacity:0;
  content: attr(aria-label);
  padding: 4px 8px;
  position: absolute;
  border-radius: 0.75rem;
  border: solid #827f7f;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 20;
  background: #827f7f;
  color: #e6e7eb;
  transition: opacity 0.25s;
  pointer-events:none;
  font-size: 15px;
  font-weight: normal;

}

a[aria-label]:hover:after {
  opacity:1;
  transition-delay:0.0005s;
}*/
